//font-family: "Dancing Script", cursive;
//font-family: "Open Sans", sans-serif;
//576 768 992
@use 'index' as s;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}
.menu {
	&__heading {
		display: none;
	}
	&__alert {
		display: flex;
		justify-content: center;
		&-red {
			color: red;
		}
		&-green {
			color: rgb(36, 247, 36);
		}
		p {
			font-size: 2rem;
		}
	}
	&__item {
		display: grid;
		grid-template-rows: repeat(5, 1fr);

		&-desc {
			grid-row: 1/3;
			grid-column: 1/-1;
			text-align: center;
			display: grid;
			grid-template-rows: repeat(2, 1fr);
			margin-bottom: 10px;
			&-one {
				grid-row: 1/2;
				padding: 10px;
			}
			&-two {
				grid-row: 2/3;
			}
		}

		&-prices {
			grid-row: 3/6;
			grid-column: 1/-1;
			form {
				display: grid;
				grid-template-rows: repeat(3, 1fr);
				gap: 10px;
				margin-bottom: 20px;
				button {
					padding: 10px;
				}
				button:nth-of-type(1) {
					grid-row: 1/2;
				}
				button:nth-of-type(2) {
					grid-row: 2/3;
				}
				button:nth-of-type(3) {
					grid-row: 3/4;
				}
			}
		}
	}
}

button {
	position: relative;
	background: none;
	padding: 5px;
	border: 1px solid #ff8000;
	border-radius: 8px;
	color: #111;
	font-size: 1.6rem;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
}
button::before,
button::after {
	content: '';
	display: block;
	position: absolute;
	transition: all 0.5s;
	z-index: -1;
}
.slice::before,
.slice::after {
	background-color: #ff8000;
	width: 100%;
	height: 100%;
}
.slice::before {
	top: -50%;
	left: -100%;
}
.slice::after {
	bottom: -50%;
	right: -100%;
}
.slice:hover::before,
.slice:focus::before {
	left: 0;
}
.slice:hover::after,
.slice:focus::after {
	right: 0;
}
